body,
html {
    margin: 0;
   
}

* {
   
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.493);
    font-family: roboto,Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.7px;
}
::-webkit-scrollbar{
    background: #d4d2d2;
    border-radius:10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #000000d3;
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    background: #313131;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background: #3131319d;
}
::selection {
    background: #333;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
    margin-bottom: 220px;
    background: url(../bg-5.svg) no-repeat;
    background-size: cover;
}

.title{
    position: relative;
    color: #313131;
    top: 30%;
    font-weight: bolder;
    font-size: 500%;
    margin-bottom: 700px;
    font-family: monospace;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.699), 0 0 5px rgba(255, 255, 255, 0.699);
}

.gray{
    background-color: rgb(63, 61, 61);
}


nav ul li a {
    color: #3131319a;
    text-decoration: none;
    display: block;
    padding: 15px 18px;
    letter-spacing: 2px;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.267);
}

nav ul li a:hover {
    color: #181818;
    text-decoration: underline;
}

nav ul li {
    position: relative;
}
nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 50%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.705);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
nav ul li:hover:after {
    left: 0;
    width: 100%;
}
.card-footer:hover{
    text-decoration: none;
    background: rgba(0, 0, 0, 0.185);
    color: #161515;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.over50 {
    opacity: 0.6;
}
.work .col-md-4{
    margin-bottom: 20px;
}
@media (max-width: 766px) {
    .title {
        font-size: 12vw;
       color: rgb(255, 255, 255);
    
}
.skill .col-md-4, .work .col-md-4{
    margin-bottom: 15px;
}
nav {
    background: #EEEEEE;
    border-bottom: 2px solid rgba(0, 0, 0, 0.452);
}
nav ul li {
    text-align: center;
}
nav ul li::after {
    display: none;
}
header{
    background-position:  center;
    background-size: 200%;
}

}
.wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.b-i {
   border-left: 3px solid rgb(37, 36, 36);
}

.bgb{
    background-size: cover;
    position: relative;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
    margin: 30px 0;
    border-bottom: 2px solid rgba(221, 221, 221, 0.116);
}

.scroll img { 
    position: relative;
    width: 100%;
    transition: all 3s linear;
}

.scroll {
    border: 2px solid rgba(221, 221, 221, 0.5);
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.466);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.scroll:hover {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.575);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.scroll:hover img {
    animation: scroll 3s ease-in-out 0s infinite alternate;
    -webkit-animation: scroll 3s ease-in-out 0s infinite alternate;
   
}

.b-s {
    border-radius: 10px;
    border-top: 10px solid rgba(255, 255, 255, 0.2);
    border-bottom: 10px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.37);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footer-sec{
    box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, 0.37);
}

.mb-10,
.mt-10 {
    margin: 100px 0;
}

a {
    text-decoration: none;
    border-radius: 8px;
}

.navbar-brand {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
    font-weight: 700;
    font-size: 180%;
    color: #313131;
}

.col-sm-2>.fa:not(.fa-paper-plane) {
    font-size: 420%;
    margin: 10px 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.col-sm-2>.fa:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    color: #ffffff;
}
.map {
    opacity: 0.6;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.map:hover {
    opacity: unset;
}

.form-control {
    border: 4px solid #ffffff8a;
    color: #000000;
    background: rgba(0, 0, 0, 0);
}
input, textarea {
    color: white !important;
}
.form-group input.form-control:focus,.form-group textarea:focus {
    background: rgba(0, 0, 0, 0);
}

.form-control::placeholder{
    color: #ffffff5d;
}


.profile {
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: -90px auto 0;
    border: 4px solid ;
    border-color: rgba(255, 255, 255, 0.521);
}
.mm{
    margin-top: -150px;
    background: #313131;
}

.scroll {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.external-link {
    position: absolute;
    bottom: -15%;
    right: 8%;
    padding: 2px 4px;
    text-decoration: none;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.849) !important;
    font-weight: bold;
    font-size: 100%;
    border-radius: 2px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.scroll:hover .external-link {
    bottom: 2%;
}
.external-link:hover {
    text-decoration: none;
}

@keyframes scroll {
    0% {
        top: 0;
    }
    100% {
        top:-50vh;
    }
}
#myFooter{
    background: #313131;
}
#myFooter .info {
    text-align: justify;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.493);
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.493);

}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}




@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .info {
        text-align: center;
    }
}

#preloader {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: .4rem solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.699);
}
#preloader:before,
#preloader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.2rem 0 0 -.2rem;
  border-bottom: .4rem solid #fff;
  border-radius: .6rem;
  transform-origin: .2rem center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
}
#preloader:before {
  /*hourhand*/width: 30%;
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}
#preloader:after {
  /*minutehand*/width: 40%;
  background-color: #333;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
#wrapper-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #333;
}
/* for demo purposes only — not required */
#preloader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



