* {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #333; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

nav {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

a.dropdown-item:hover {
  color: #218838 !important; }

.log-in {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0 5px 8px #2188373d;
     -moz-box-shadow: 0 5px 8px #2188373d;
          box-shadow: 0 5px 8px #2188373d; }

.signup {
  color: #888; }
  .signup:hover {
    color: #333;
    text-decoration: none;
    font-weight: 500; }

.carousel-inner {
  height: -webkit-calc(100vh - 81.2813px);
  height: -moz-calc(100vh - 81.2813px);
  height: calc(100vh - 81.2813px);
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1); }

@media (max-width: 660px) {
  .carousel-inner {
    height: auto;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; } }

.overlay-dark {
  position: relative;
  background-attachment: fixed !important; }
  .overlay-dark .overlay-dark-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }

.about-parrent {
  position: relative; }
  .about-parrent .about {
    position: relative;
    top: -100px;
    z-index: 10;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    -moz-transition: transform 1s, -moz-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s; }
    .about-parrent .about img.img-fluid {
      -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.3) !important;
         -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.3) !important;
              box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.3) !important; }
    .about-parrent .about:hover {
      -webkit-transform: translateY(-2%);
         -moz-transform: translateY(-2%);
          -ms-transform: translateY(-2%);
           -o-transform: translateY(-2%);
              transform: translateY(-2%); }

@media (max-width: 825px) and (min-width: 770px) {
  .about-parrent {
    background: url(../Images/pot.png) no-repeat;
    background-position: 5% bottom;
    -webkit-background-size: 15rem 15rem;
       -moz-background-size: 15rem;
         -o-background-size: 15rem;
            background-size: 15rem; } }

@media (max-width: 992px) and (min-width: 826px) {
  .about-parrent {
    background: url(../Images/bg-1.png) no-repeat;
    background-position: 5% bottom;
    -webkit-background-size: 8rem 8rem;
       -moz-background-size: 8rem;
         -o-background-size: 8rem;
            background-size: 8rem; } }

@media (min-width: 1073px) {
  .about-parrent {
    background: url(../Images/beautiful-botanical-bright-912413.jpg) no-repeat;
    background-position: right bottom;
    -webkit-background-size: 12rem 12rem;
       -moz-background-size: 12rem;
         -o-background-size: 12rem;
            background-size: 12rem; } }

.ourwork-img {
  background: url(../images/cacti-close-up-colors-776656.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }
  .ourwork-img:hover {
    -webkit-background-size: 110% 110%;
       -moz-background-size: 110%;
         -o-background-size: 110%;
            background-size: 110%; }
  .ourwork-img .overlay-dark-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease; }
  .ourwork-img:hover .overlay-dark-block {
    background: none; }

@media (max-width: 1220px) and (min-width: 991px) {
  .ourwork-img {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; }
    .ourwork-img:hover {
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover; } }

.our-mission-img {
  background: url(../images/savetree.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  position: relative;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }
  .our-mission-img:hover {
    -webkit-background-size: 110% 110%;
       -moz-background-size: 110%;
         -o-background-size: 110%;
            background-size: 110%; }
  .our-mission-img .overlay-dark-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease; }
  .our-mission-img:hover .overlay-dark-block {
    background: none; }

@media (max-width: 1220px) and (min-width: 991px) {
  .our-mission-img {
    background: url(../images/cactus-cactus-plant-container-1630318.jpg) no-repeat center;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%; }
    .our-mission-img:hover {
      -webkit-background-size: 110% 110%;
         -moz-background-size: 110%;
           -o-background-size: 110%;
              background-size: 110%; } }

.slick-prev {
  left: 0;
  z-index: 50; }

.slick-next {
  right: 0;
  z-index: 50; }

.slick-prev:before {
  color: #888;
  font-weight: bolder; }

.slick-next:before {
  color: #333;
  font-weight: bolder; }

ul.slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

div.multiple-items div div.card {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  div.multiple-items div div.card:hover, div.multiple-items div div.card:active {
    -webkit-transform: scale(1.02) !important;
       -moz-transform: scale(1.02) !important;
        -ms-transform: scale(1.02) !important;
         -o-transform: scale(1.02) !important;
            transform: scale(1.02) !important; }
  div.multiple-items div div.card strong {
    color: #218838; }
  div.multiple-items div div.card .cart {
    position: absolute;
    padding: 5px;
    margin: 0 5%;
    width: 90%;
    background: white;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    bottom: 20%;
    opacity: 0;
    -webkit-transition: bottom 0.4s ease, opacity 0.3s ease;
    -o-transition: bottom 0.4s ease, opacity 0.3s ease;
    -moz-transition: bottom 0.4s ease, opacity 0.3s ease;
    transition: bottom 0.4s ease, opacity 0.3s ease; }
    div.multiple-items div div.card .cart a {
      color: inherit;
      text-decoration: none;
      color: #218838; }
  div.multiple-items div div.card:hover .cart, div.multiple-items div div.card:active .cart {
    bottom: 28%;
    opacity: 1; }

@media (max-width: 768px) {
  div.multiple-items div div.card .cart {
    opacity: 1;
    bottom: 28%; } }

@media (max-width: 648px) and (min-width: 600px) {
  div.multiple-items div div.card .cart {
    opacity: 1;
    bottom: 35%; } }

@media (max-width: 472px) and (min-width: 400px) {
  div.multiple-items div div.card .cart {
    opacity: 1;
    bottom: 45%; } }

@media (min-width: 768px) {
  .hindi p {
    font-size: 3rem; } }

@media (max-width: 767px) {
  .hindi p {
    font-size: 25px; } }

.to-top {
  position: relative; }

.to-top a {
  position: absolute;
  display: inline-block;
  position: relative;
  color: #333;
  padding: 5px 8px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background: #218838;
  color: white;
  border: 50%;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.1);
  bottom: -20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .to-top a i, .to-top a span {
    display: block; }

.to-top a:hover {
  text-decoration: none;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px); }

.header-overlay {
  position: relative; }
  .header-overlay .overlay-dark-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }

.gallary .row .col-md-6 {
  position: relative; }
  .gallary .row .col-md-6 strong {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    padding: 5px;
    background: white;
    border: 1px solid #e5e5e5; }

/* The Modal (background) */
#image-model {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 30px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  /* Modal Content (Image) */
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  /* Add Animation - Zoom in the Modal */
  /* The Close Button */
  /* 100% Image Width on Smaller Screens */ }
  #image-model .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; }
  #image-model #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px; }
  #image-model .modal-content, #image-model #caption {
    -webkit-animation-name: zoom;
       -moz-animation-name: zoom;
         -o-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: 0.6s;
       -moz-animation-duration: 0.6s;
         -o-animation-duration: 0.6s;
            animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-moz-keyframes zoom {
  from {
    -moz-transform: scale(0);
         transform: scale(0); }
  to {
    -moz-transform: scale(1);
         transform: scale(1); } }

@-o-keyframes zoom {
  from {
    -o-transform: scale(0);
       transform: scale(0); }
  to {
    -o-transform: scale(1);
       transform: scale(1); } }

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0); }
  to {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); } }
  #image-model #close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
  #image-model #close:hover,
  #image-model #close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }
  @media only screen and (max-width: 700px) {
    #image-model .modal-content {
      width: 100%; } }

#myFooter {
  background-color: #3c3d41;
  color: white;
  padding-top: 30px;
  border-top: 1px solid #005606; }

#myFooter .footer-copyright {
  background-color: #0e571e;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center; }

#myFooter .row {
  margin-bottom: 60px; }

#myFooter .navbar-brand {
  margin-top: 45px;
  height: 65px; }

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc; }

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7; }

#myFooter h5 {
  font-size: 15px;
  color: white;
  margin-top: 30px; }

#myFooter h2 a {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

#myFooter a {
  color: #d2d1d1;
  text-decoration: none; }

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white; }

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px; }

#myFooter .social-networks a {
  font-size: 32px;
  color: #f9f9f9;
  padding: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }

#myFooter .social-networks a:hover {
  text-decoration: none; }

#myFooter .facebook:hover {
  color: #0077e2; }

#myFooter .google:hover {
  color: #ef1a1a; }

#myFooter .twitter:hover {
  color: #00aced; }

#myFooter .btn {
  color: white;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  border: none;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 25px; }

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center; } }

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
#myFooter {
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto; }
